version: '3.8'
services:
  web:
    build: .
    image: ghcr.io/praveendubey9696/calculator:local
    ports:
      - 8080:80
    restart: unless-stopped
  prometheus:
    image: prom/prometheus:latest
    ports:
      - 9090:9090
  grafana:
    image: grafana/grafana:latest
    ports:
      - 3000:3000
    depends_on:
      - prometheus
