grafana:
  persistence:
    enabled: true
    size: 5Gi
  adminUser: admin
  adminPassword: prom-operator
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi
