prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: [ "ReadWriteOnce" ]
          resources:
            requests:
              storage: 10Gi
    resources:
      requests:
        memory: 512Mi
        cpu: 200m
      limits:
        memory: 1Gi
        cpu: 1
# Reduce scrape interval for local environment
prometheus:
  prometheusSpec:
    evaluationInterval: "30s"
    scrapeInterval: "30s"
